.platoonFolders {
    flex-wrap: wrap;
    gap: 1.5rem;
    cursor: pointer;
}

.folder {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}


.folder > div:nth-child(1) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.folder > div:nth-child(1) > div {
    gap: 0.3rem;
}

div:nth-child(1) img {
    transition: all 0.2s ease-in-out;
    filter: var(--svg-light);
}


.folder:hover > div:nth-child(1) img {
    padding-bottom: 0.7rem;
}

.folder:hover > div:nth-child(1) img:nth-child(1):hover {
    filter: var(--svg-contrast);
}

.folder div:nth-child(1) img:nth-child(2):hover {
    filter: var(--svg-secondary);
}


.folder div[data-top] {
    width: 4rem;
    height: 2rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: var(--border-light);

}

.folder div[data-bottom] {
    transition: all 0.2s ease-in-out;
    margin-top: -1.5rem;

    max-width: 8rem;
    max-height: 5rem;
    width: 8rem;
    height: 5rem;
    
    border-radius: var(--border-radius);
    background-color: var(--primary);
    border: var(--border-light);
    z-index: 10;

    overflow: hidden;
}

.folder div[data-bottom] input {
    font-size: 1.5rem;
    font-weight: 500;

    width: 7rem;


    padding: 1rem 0 0 1rem;

    outline: none;
    border: none;
    background-color: transparent;

    user-select: none;
    pointer-events: none;
    cursor: pointer;
}

.folder:hover div[data-bottom] {
    background-color: var(--hover-light);
    margin-top: -0.8rem;
    height: 4.3rem;
}

.addFolder div[data-bottom] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addFolder:hover div[data-bottom] {
    margin-top: -1.2rem;
    height: 4.7rem;
}

.addFolder img{
    width: 2.5rem;
    height: 2.5rem;
    filter: var(--svg-light);
}