.companies {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.companie > div:nth-child(1){
    display: flex;
    gap: 1rem;
    align-items: center;

}


.companie input{
    background-color: transparent;
    outline: none;
    border: none;

    width: 10rem;

    font-size: 1.5rem;
    color: var(--contrast);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons button {
    width: 100%;
    outline: none;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: 0.2rem 0;

    transition: all 0.2s ease-in-out;
    min-height: 2.625rem;
    width: 6rem;
}

.buttons > .normal {
    border: solid 2px var(--hover-light);
}
.buttons > .red {
    border: solid 2px var(--denied);
}
.buttons .green {
    border: solid 2px var(--accept);
}

.buttons .normal:hover {
    border: solid 2px var(--light);
}
.buttons .red:hover  {
    border: solid 2px var(--denied-hover);
}
.buttons .green:hover  {
    border: solid 2px var(--accept-hover);
}


.platoons {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    padding-left: 2rem;
}

.platoon, .userList {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.mainContent, .userList > div  {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.userList {
    padding-left: 1rem;
}

.userList > div > p {
    width: 15rem;
}

.hidden {
    display: none;
}