.companies {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.companie > div:nth-child(1){
    display: flex;
    gap: 1rem;
    align-items: center;

}

.companie input{
    background-color: transparent;
    outline: none;
    border: none;

    width: 10rem;

    font-size: 1.5rem;
    color: var(--contrast);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons button {
    width: 100%;
    outline: none;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: 0.2rem 0;

    transition: all 0.2s ease-in-out;
    min-height: 2.625rem;
    width: 6rem;
}

.buttons > .normal {
    border: solid 2px var(--hover-light);
}
.buttons > .red {
    border: solid 2px var(--denied);
}
.buttons .green {
    border: solid 2px var(--accept);
}

.buttons .normal:hover {
    border: solid 2px var(--light);
}
.buttons .red:hover  {
    border: solid 2px var(--denied-hover);
}
.buttons .green:hover  {
    border: solid 2px var(--accept-hover);
}


.platoons {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    padding-left: 2rem;
}

.platoon, .userList {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.mainContent, .userList > div  {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.userList {
    padding-left: 1rem;
}

.userList > div > p {
    width: 15rem;
}

.roleLists {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.roleLists > div {
    box-sizing: border-box;
    padding: 0.5rem;
    border: var(--border-light);
    border-radius: var(--border-radius);
}

.hidden {
    display: none!important;
}

.changeCompanie {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;

    width: 20rem;
    height: fit-content;
}


.changeCompanie > div:first-of-type{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.changeCompanie > div:first-of-type > div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--border-radius);
    border: var(--border-light);
    padding: 0.5rem;

    width: 9.75rem;
    height: 2.625rem;
    box-sizing: border-box;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.changeCompanie > div:first-of-type > div > p{
    transition: all 0.2s ease-in-out;
    color: var(--light);
}

.changeCompanie > div:first-of-type > div:hover{
    border: var(--border);
}

.changeCompanie > div:first-of-type > div:hover > p{
    color: var(--contrast);
}

.user {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.user > p {
    width: 15rem;
}

.changePeletong {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;

    width: 20rem;
    height: fit-content;
}

.peletongSelect {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}	


.peletongSelect > div:first-of-type {
    display: flex;
    height: 2.625rem;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    box-sizing: border-box;

    border-radius: var(--border-radius);
    border: var(--border-light);

    transition: all 0.2s ease-in-out;
    width: 100%;
}

.peletongSelect > div > img {
    transition: all 0.2s ease-in-out;
    filter: var(--svg-light);
}

.peletongSelect > div:first-of-type:hover {
    border: var(--border);
}

.peletongSelect > div:first-of-type:hover > img {
    filter: var(--svg-contrast);
}

.peletongSelect > div:first-of-type {
    border: var(--border);
}

.peletongSelect > div:first-of-type > img {
    filter: var(--svg-contrast);
}



.peletongSelect > div:last-of-type {
    position: absolute;
    top: 3rem;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 10rem;

    box-sizing: border-box;
    padding: 0 0.5rem;

    background-color: var(--primary);
    border: var(--border);
    border-radius: var(--border-radius);

    overflow-y: scroll;

}

.peletongSelect > div:last-of-type > h6 {
    height: 2.625rem;
    min-height: 2.625rem;
    display: flex;
    align-items: center;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.peletongSelect > div:last-of-type > p, .peletongSelect > div:last-of-type > div > p {
    height: 2.625rem;
    min-height: 2.625rem;
    border-bottom: var(--border-light);

    display: flex;
    align-items: center;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.peletongSelect > div:last-of-type > p:hover, .peletongSelect > div:last-of-type > div > p:hover {
    background-color: var(--hover-light);
}


.peletongSelect input{
    background-color: transparent;
    outline: none;
    border: none;

    border-bottom: var(--border-light);
    height: 2rem;
    transition: all 0.2s ease;
}	

.peletongSelect input:focus{
    border-bottom: var(--border);
}	
