.wrapper > img {
    width: 100%;
    min-width: 30rem;
    max-width: 53.125rem;
}

*[data-error-text] {
    color: var(--secondary);
    padding-bottom: 0.2rem;
}

*[data-width] {
    max-width: 26.25rem;
    min-width: 20rem;
    width: 100%;
}

p[data-helper-text] {
    text-align: end;
    color: var(--light);
}

p[data-helper-text] > a {
    color: var(--light);
}

@media screen and (max-width: 980px) {
    .wrapper > img {
        display: none
    }
}