@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700");

body, body * {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: var(--contrast);
}

body {
    background: var(--primary);
    padding: 2rem 4rem;

    height: 93vh;
}

:root {
    --primary: #292929;
    --secondary: #CC0000;
    --contrast: #fff;
    --light: #B5B5B5;

    --hover: #1C1C1C;
    --hover-light: #434343;

    --accept: #427742;
    --accept-hover: #2ea22e;

    --denied: #7c2929;
    --denied-hover: var(--secondary);
    
    --border: 2px solid var(--contrast);
    --border-light: 2px solid var(--light);

    --svg-light: brightness(0) saturate(100%) invert(84%) sepia(0%) saturate(1%) hue-rotate(167deg) brightness(89%) contrast(85%);
    --svg-secondary: brightness(0) saturate(100%) invert(9%) sepia(78%) saturate(6908%) hue-rotate(359deg) brightness(98%) contrast(110%);
    --svg-contrast: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

    --box-height: 3.5rem;

    --border-radius: 0.5rem;

    --shadow-short: 0px 4px 4px rgba(0, 0, 0, 0.3);
    --shadow: 0px 8px 6px rgba(0, 0, 0, 0.3);
    --shadow-long: 0px 16px 8px rgba(0, 0, 0, 0.3);
}

*[data-medium] {
    font-weight: 500
}

*[data-semi-bold] {
    font-weight: 600;
}

*[data-bold] {
    font-weight: 700;
}

*[data-undeline] {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
}

*[data-hover] {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: var(--light)
}

*[data-hover]:hover {
    color: var(--contrast);
}

*[data-shadow-short] {
    filter: drop-shadow(var(--shadow-short));
}

*[data-shadow] {
    filter: drop-shadow(var(--shadow));
}

*[data-shadow-long] {
    filter: drop-shadow(var(--shadow-long));
}

*[data-shadow-hover] {
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(var(--shadow-short));
}

*[data-shadow-hover]:hover {
    filter: drop-shadow(var(--shadow));
}

*[data-disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;
}

*[data-row] {
    display: flex;
}

*[data-column] {
    display: flex;
    flex-direction: column;
}

*[data-space-between] {
    justify-content: space-between;
}

*[data-align-center] {
    align-items: center;
}

*[data-align-baseline] {
    align-items: baseline;
}

*[data-justify-center] {
    justify-content: center;
}

*[data-flex] {
    flex: 1;
}

*[data-gap] {
    gap: 0.5rem;
}

*[data-medium-gap] {
    gap: 1.5rem;
}

*[data-big-gap] {
    gap: 3rem;
}

*[data-grow] {
    flex-grow: 1;
}

*[data-show="true"] {
    display: unset;
}

*[data-show="false"] {
    display: none;
}


h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

hr {
    border: 0.1rem solid var(--light);
    opacity: 0.2;
}

hr[data-short] {
    width: 90%;
    align-self: center;
}

/* Input with icon */
.input[data-w-icon] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    transition: all 0.2s ease-in-out;
    
    height: var(--box-height);
    border: var(--border-light);
    border-radius: var(--border-radius);

    background-color: var(--primary);
}

.input[data-w-icon] label {
    transition: all 0.2s ease-in-out;
    opacity: 0.6;

    height: 3rem;
    width: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;     
}

.input[data-w-icon] label:hover {
    cursor: pointer;
} 

.input[data-w-icon] img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
}

.input[data-w-icon] input {
    transition: all 0.2s ease-in-out;

    font-size: 1.5rem;
    color: var(--light);

    background: transparent;
    border: none;
    outline: none;

    width: 100%;
    height: 100%;
}

.input[data-w-icon] input:focus {
    color: var(--contrast);
}

.input[data-w-icon] input::placeholder {
    color: var(--light);
}

.input[data-w-icon]:has(input:focus) {
    border: var(--border);
}

.input[data-w-icon]:has(input:focus) > label {
    opacity: 1;
}

/* Input */
input[data-transparent] {
    font-size: 1.5rem;
    color: var(--accent);
}

input[data-transparent]::placeholder {
    color: var(--light);
}

input[data-normal] {
    transition: all 0.2s ease-in-out;

    font-size: 1.5rem;
    color: var(--light);

    background: transparent;
    outline: none;

    padding: 0 1rem;
    
    width: 100%;
    height: var(--box-height);
    border: var(--border-light);
    border-radius: var(--border-radius);
}

input[data-unset] {
    width: unset;
}

input[data-normal]:focus  {
    color: var(--contrast);
    border: var(--border);
}


/* Input date */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: var(--svg-light);
}

input[type="date"]:focus ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]:invalid {
    border: solid 2px var(--secondary);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Button */
.button {
    transition: all 0.2s ease-in-out;

    border: none;
    outline: none;

    height: var(--box-height);
    border-radius: var(--border-radius);

    background-color: var(--secondary);
    color: var(--contrast);

    font-size: 1.5rem;
    font-weight: 600;

    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.button:focus {
    opacity: 0.8;
}

.button[data-denied] {
    background-color: var(--denied);
}

.button[data-denied]:hover {
    background-color: var(--denied-hover);
}

.button[data-accept] {
    background-color: var(--accept);
}

.button[data-accept]:hover {
    background-color: var(--accept-hover);
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    width: 30rem;
    height: 15rem;

    padding: 1rem 2rem;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: var(--border);
}

.alert h4 {
    font-weight: 400;
}

.alert > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.alert div button {
    width: 30%;
}

.newPlatoon {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    max-width: 20rem;
    width: 20rem;
    height: min-content;

    padding: 1.5rem 1.5rem;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: var(--border);
}

.outOfBound {
    width: 100vh;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 88;
}

.newPlatoon {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    max-width: 20rem;
    width: 20rem;
    height: min-content;

    padding: 1.5rem 1.5rem;

    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: var(--border);
}

.newCompanie {
    z-index: 1000;

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1.5rem 1.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}